{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}

<div class="container my-5">
  <section class="dark-grey-text text-center">
    <h3 class="font-weight-bold black-text mb-4 pb-2">Compte de {{ app.user.firstname }} {{app.user.lastname}}</h3>
    <hr class="w-header">
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">Bienvenue sur votre compte</p>
    <div class="row">
      <div class="col-md-3 mb-4">
        <a href="#!" class="card hoverable">
          <div class="card-body my-4">
          	<p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
            <h5 class="black-text mb-0">Mon panier</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="#!" class="card hoverable">
          <div class="card-body my-4">
          	<p><i class="fas fa-cogs fa-2x text-muted"></i></p>
            <h5 class="black-text mb-0">Mes informations</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="#!" class="card hoverable">
          <div class="card-body my-4">
          	<p><i class="fas fa-pencil-ruler fa-2x text-muted"></i></p>
            <h5 class="black-text mb-0">Mes commandes</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ path('account_password')}}" class="card hoverable">
          <div class="card-body my-4">
          	<p><i class="fas fa-recycle fa-2x text-muted"></i></p>
            <h5 class="black-text mb-0">Modifier mon mot de passe</h5>
          </div>
        </a>
      </div>
    </div>
	</section>
</div>

{% endblock %}
