{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container border-dark border my-5 p-3">
   <form method="post">
       {% if error %}
           <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
       {% endif %}
   
       <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
       <hr>
       <label for="inputEmail">Adresse Email :</label>
       <input type="email" value="{{ last_username }}" placeholder="Votre adresse email" name="email" id="inputEmail" class="form-control" required autofocus>
       <label class="mt-2" for="inputPassword">Mot de passe :</label>
       <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
   
       <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
   
       {#
           Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
           See https://symfony.com/doc/current/security/remember_me.html
   
           <div class="checkbox mb-3">
               <label>
                   <input type="checkbox" name="_remember_me"> Remember me
               </label>
           </div>
       #}
   
       <button class="btn btn-sm btn-primary mt-4" type="submit">
           Connexion
       </button>
   </form>
</div>
{% endblock %}
