html{
  height:100%;
}
 
body {
  height: 100%;
  margin:0;
  padding:0;
}

#main{
  height: auto !important;
  margin: 0 auto -60px;
}
 
header{
  background: #998B7D;
  height: 50px;
}
 
.footer-custom{
  margin-bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.form-check{
   margin-top:7px;
   padding: 20px 60px;
   background-color: rgb(224, 235, 235);
}

.col-form-label{
   font-weight: bold;
}