<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site de ecommerce">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}Site e-commerce{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
     {% block javascript %}{% endblock %}
</head>
<body>
{% include('menu.html.twig') %}

<div id="main">

<div class="content">
 {% block body %}{% endblock %}
</div>
<hr class="mt-5 container">
    <!-- FOOTER -->
    <footer class="container-fluid footer-custom fixed-bottom bg-dark">
    <div class="mt-3">
        <p class="float-right "><a href="#">Back to top</a></p>
        <p class="text-white">&copy; 2020-2021 Boutique Star Wars - <a href="#">Conditions générales de vente</a></p>
   </div>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
</body>

</html>